---
---

@import "{{ site.theme }}";

:root {
  --header-bg-color: #714B67;
  --header-heading-color: #ffffff;
  --btn-primary-color: #ffffff;
  --btn-primary-bg: #714B67;
}

.page-header {
  background-color: #714B67;
  background-image: linear-gradient(135deg, #714B67, #a37096);
}
